.component-categories {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 30px 30px 10px 30px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        text-decoration: none;
    }
}

.categories-text {
    color: #0c0d36;
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
}
@media screen and (max-width: 375px) {
    p.categories-text {
        font-size: 8px;
    }
}

@media screen and (max-width: 612px) {
    p.categories-text {
        font-size: 10px;
    }
}
